<input 
    type="file"
    [formControl]="file" 
    (change)="onUploaderChange($event)"
    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
    id="file" />


<table *ngIf='!isEmpty; else emptyFile' class="mt-5 table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Error Meesage </th>
        <th scope="col">Actual Data</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of invalidData; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{row.message}}.</td>
        <td>Actual data is: {{row.cellData}}</td>
    </tr>
    </tbody>
</table>

<ng-template #emptyFile>
    <h1 class="display-3">File is empty</h1>
</ng-template>